.App {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}
.main-part{
  background-color: #000000;
  width: auto;
}
.menu-bar{
  display: flex;
  align-items: center;
  padding: 1.8rem;
}
.menu{
  font-size: 2rem;

}
.search-bar{
background-color: gray;
padding: 0.2rem 0.5rem;
margin: 0 2rem;
border-radius: 1.1rem;
width: 20rem;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.3rem;
}
.search-bar p{
  border-right: 1.5px solid white;
  margin: 0.2rem 0.2rem;
}
nav ul{
  list-style: none;
  display: flex;
}
nav ul li{
  margin: 0 3.1rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li:hover{
  border-bottom: 2.5px solid #ffac30;
  color: #ffac30;
}
.constant{
  border-bottom: 2.5px solid #ffac30;
  color: #ffac30;
}
.home h1{
  font-size: 19.4rem;
  margin: 0 0 0 5.5rem;
  font-weight: 500;
  color: #55C2FF;
  opacity: 46%;
  position: relative;
  z-index: 1; 
}
/* .gradient{
  width: 600px; 
  margin: -9rem 0 0 33.5%; 
  display: flex;         
  height: 150px;          
  background: radial-gradient( circle, #21acfc 30%, #3eb3f7 60%, #55C2FF 100%); 
  border-radius: 50% ;
  box-shadow: 0 0 70px 50px #55C2FF; 
} */
.home img{
  margin-top: -13rem;
  margin-left: -1.5%;
  /* margin: auto; */
  position: relative;
  z-index: 2; 
 
}
.home p {
width: 55%;
margin-left: 30%;
font-size: 23px;
font-weight: 400;
text-align: center;
position: relative;
opacity: 0.8;
z-index: 3;
margin-top: -47rem;
/* font-style: Quicksand; */
}
.icon{
  color: #FFAC30;
  font-size: 15px;
}
.car-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30%;
  padding: 3rem 0;
}
.info h1{
  font-size: 60px;
  margin: 0;
}
.info h2{
  font-size: 42px;
  margin: 0.3rem 0 0.5rem 0;
}
.info p{
  color:#55C2FF;
  font-size: 28px;
  margin: 0.5rem 0 0 0;
}
.parts{
  /* display: flex; */
}
.car_part{
  display: flex;
}
.car_part div{
  margin: 1rem 2rem;
}
.car_part div img, p{
  margin: 0;
  padding: 0;
}
.car_part .name{
  color:#55C2FF;

}
.theory{
  display: flex;
  align-items: center;
  padding: 2rem;
  margin: -9rem 0;
  position: relative;
}

.theory p{
  margin-left: -37rem;
  margin-top: -60rem;
  font-size: 24px;
}
.theory .btn{
  background-color:#FFAC30;
  border-radius: 26px ;
  font-size: 20px;
  width:20rem;
  padding: 0.5rem;
  font-weight: 400;
  margin: -37rem 0rem 0 -15rem;
  position: absolute;
  left: 60rem;
}
.back_img{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 500px;
  background-image: url('./images//animate.png') ;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  position: relative;
  top: -55rem;
  left: 10rem;
  padding: 2rem;
  margin-left: -10rem;
}
 .back_info{
  /* width: 30rem; */
  position: absolute;
  left: 7rem;
  /* margin-right: -8rem; */
}

.back_img .back_info h1{
  width: 30rem;
  font-size: 60px;
  font-weight: 600;
}
.back_img .back_info p{
  width: 40rem;
  font-size: 24px;
  font-weight: 400;
}

.back_img img {
  position: absolute;
  left: 45rem;
  width: auto;
  max-width: 100%;
  height: auto;
  margin-left: 20px;
  object-fit: cover;
}
.navbar{
  position: relative;
  top: -57rem;
  left: 2.5rem;
}
.car_detail{
  display: flex;
  width: 55rem;
  color: #046daa;
  font-weight: 500;
  font-size: 24px;
  background-color: #cccccc;
  border-radius: 12px;
  margin: 2rem 0 2rem 4.4rem;
  padding: 0.3rem;
}
.car_detail .price{
padding-left: 14rem;
}
.car_detail .varient{
padding-left: 1.1rem;
}
.price_info{
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  left:2.2rem ; 
  margin: 2rem 0;
}
.price_info h2, p{
  margin: 0;
  padding: 0;
}
.price_info h2{
  font-weight: 700;
  font-size: 24px;
  
}
.price_info p{
  font-weight: 300;
  font-size: 20px;
  opacity: 0.8;
}
.price_info .price_col{
  color: #FFAC30;
  font-size: 15px;
}
.p_info{
  margin: 0 4.3rem;
}
.btns{
  border: 2px solid #FFAC30;
  background: transparent;
  border-radius: 20px;
  padding: 0.5rem;
  font-size: 20px;
  color: white;
  font-weight: 400;
  opacity: 0.8;
  width: 9rem;
}
.btn_viewMore{
  color: #FFAC30;
  background: none;
  border: none;
  font-size: 23px;
  font-weight: 700;
  align-items: end;
  width: 100vw;
  margin-left: 11rem;
}

.table{
  position: relative;
  top: -55rem;
  left: 9rem;
}
.table h1{
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  margin-bottom: 1rem;
}
.table p {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 1rem 0 2rem 0;
}
table tbody td{
  border-bottom: 1px solid white;
  padding: 7px 5rem;
}
table thead th{
  color: #30aff8;
  background: gray;
  margin: 0 -5px;
  padding: 5px;
}

.expert{
  position: relative;
  top: -55rem;
}
.expert_car{
  display: flex;
  align-items: center;
  padding: 0rem 0 0 9rem;
}
.expert_nav {
  border-bottom: 1px solid white;
  width: 80%;
  margin-left: 9rem;
}
.expert_nav ul li{
  color: white;
  border-bottom: none;
}
.left_br{
  border-left: 1px solid white;
  padding-left: 5rem;
}

.expert_nav ul li:hover{
  border-bottom: none;
  color: #ffac30;
}
/* .expert_nav ul li .constant_color{
  padding-left: -4rem;
  color: #ffac30;
} */

.expert p{
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  /* width: 90%; */
  padding: 2rem 0;
}
.expert .exp_p{
  margin-left: 9rem;

}
.btn_white{
  color: #ffac30;
  border: 2px solid #ffac30;
  background: transparent;
}
.white_car{
  margin: -8rem 0 0 5rem;
}
.expert .btn_white{
  position: relative;
  left: 45%;
  top: -30rem;
  width: 9rem;
  font-size: 20px;
  border-radius: 20px;
  padding: 0.5rem;
}
.black_img{
  display: flex;
  margin-top: -79rem;
}
.black_img h1{
  font-size: 85px;
  font-weight: 600;
  margin-bottom: -2rem;
}
.black_img .and{
  font-weight: 30;
  line-height: 0;
}
.black_img h2{
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0.5rem;

}
.black_img p{
  font-weight: 500;
  font-size: 25px;
}
.amazing{
  display: flex;
  justify-content: space-around;
  padding-left: 3rem;
}
hr{
  width: 90%;
  margin: 1.5rem 0 1.5rem  10%;
}
.amazing ul li{
  line-height: 2;
  font-size: 18px;
}
.amazing h2{
  font-size: 36px;
  font-weight: 700;
  color: #00BA6C;
  padding-left: 3rem;
}
.amazing .next{
  color: #FE5959;
}
.mahindra{
  margin: 4rem 0 1rem 6.8rem;
}
.mahindra h1{
  font-weight: 200;
  font-size: 90px;
  line-height: 1;
}
.mahindra h2{
  font-weight: 600;
  font-size: 85px;
  line-height: 1;
  margin-bottom: 2rem;
}
.mahindra .num{
  color: white;
  font-size: 50px;
  font-weight: 500;
  padding: 0 0.5rem;
}
.mahindra col{
  color: white;
  font-size: 14px;
}
.mahindra .filter{
  display: flex;
  justify-content: space-between;
  margin-right: 7.5em ;
}
.mahindra .filter p, .view_more button{
  background: transparent;
  border: 2px solid #FFAC30;
  color: #FFAC30;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}
.mahindra .filter button{
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}
.maps{
  display: flex;
  margin: 5rem 6rem;
}
.map{
  border: 2px solid white;
 padding: 2rem;
 margin: 0 1rem;
}
.map p{
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 0.7rem;
}
.map .add{
  margin-top: 4rem;
  font-size: 13px;
}
.view_more button{
  margin-left: 45%;
}
.red{
  display: flex;
  align-items: center;
  padding: 8rem 0;
}
.red_car{
  margin-left: 6.3rem;
  line-height: 0.3;
}
.red_car h1{
  font-weight: 150;
  font-size: 77px;
  margin-top: -5rem;
  /* margin-bottom: -4rem; */
}
.red_car h2 {
font-size: 65px;
font-weight: 600;
/* margin-top: 0rem; */
}
.red .pouse{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.red .pouse img {
  margin:  0 2rem;
}
.red .pouse p {
  line-height: 1.4;
  font-size: 20px;
}
.news img{
  width: 350px;
  height: 200px;
  margin: -1rem 0 0 6rem;
}
.expert .first {
  font-weight: 200;
  font-size: 60px;
  color: #FFAC30;
  margin-left: -0.5rem;
  line-height: 0;
}
.exp{
  margin: 8rem 0 2rem 0;
  line-height: 0;
}
.expert .expert_car h1{
  font-size: 85px;
  font-weight: 600;
}
@media (max-width: 320px){
  .main-part{
    width: 62rem;
  }
  .menu-bar{
    padding: 1.8rem 4rem;
  }
  .home h1{
    font-size: 13rem;
  }
  .home img{
    margin-top: -8rem;
    margin-left: -3%;
    width: 70rem;
    height: 60rem;
  }
  .home p {
    width: 75%;
    margin-left: 15%;
    font-size: 33px;
    margin-top: -32rem;
    }
    nav ul {
      display: flex;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; 
      scrollbar-width: none; 
    }
    
    nav ul::-webkit-scrollbar {
      display: none; 
    }
    
    nav ul li {
      margin: 1rem;
      padding: 0 1rem;
      font-size: 2rem;
      white-space: nowrap; 
    }

    .car-info{
      margin: 2rem 0 1rem 10%;
      padding: 2rem 0;
    }
    .info h1{
      font-size: 60px;
    }
    .info h2{
      font-size: 38px;
      margin: 0.3rem 0 0.5rem 0;
    }
    .info p{
      color:#55C2FF;
      font-size: 30px;
      margin: 0.5rem 0 0 0;
    }
    .icon{
      font-size: 23px;
    }

    .car_part div{
      margin: 0;
      padding: 1rem 1rem;
    }
    .car_part div img, p{
      font-size: 27px;
    }

    .theory p{
      margin-left: -28rem;
      margin-top: -20rem;
      font-size: 27px;
      width: 25rem;
    }
    .theory img{
      width: 60rem;
      height: 60rem;
      margin-top: 6rem;
    }
    .theory .btn{
      margin: -3rem 0rem 0 -54rem;
    }
    .back_img{
      top: -22rem;
      left: 8rem;
      padding: 2rem;
      margin-left: -10rem;
    }
    .back_img .back_info h1{
      margin: 3rem 0 1rem 0;
    }
    .back_img .back_info p{
      width: 40rem;
      font-size: 29px;
      font-weight: 400;
    }
    
    .back_img img {
      margin-top: 8rem;
    }
    .navbar{
      top: -20rem;
      left: 1rem;
    }
    .car_detail{
      width: 49.5rem;
      font-size: 29px;
    }
    .car_detail .price{
    padding-left: 16rem;
    }
    .car_detail .varient{
    padding-left: 1.1rem;
    }
    .price_info{
      width: 55rem;
      left:2rem ; 
    }
    .price_info h2{
      font-size: 32px;
      
    }
    .price_info p{
      font-size: 27px;
    }
    .price_info .price_col{
      font-size: 22px;
    }
    .p_info{
      margin: 0 0rem;
    }
    .btns{
      font-size: 29px;
      width: 11rem;
    }
    .btn_viewMore{
      font-size: 30px;
      text-align: start;
      margin-left: 6rem;
    }

    .table{
      top: -20rem;
      left: 5.5rem;
    }
    .table table{
      width: 80%;
    }
    
    .table h1{
      font-size: 57px;
    }
    .table p {
      font-size: 30px;
      font-weight: 500;
      line-height: 30px;
      margin: 1rem 0 2rem 0;
    }
    table tbody td{
      font-size: 26px;
      padding: 7px 1rem;
    }
    table thead th{
      font-size: 29px;
    }

    .expert{
      top: -21rem;
    }
    .expert_car{
      padding: 0rem 0 0 5.5rem;
    }
    .expert .first {
      font-size: 55px;
    }
    .expert_car img{
      width: 22rem;
      height: 22rem;
    }
    .expert .expert_car h1{
      font-size: 75px;
      margin-bottom: 1.5rem;
    }
    .expert p{
      font-size: 30px;
      line-height: 1.2;
    }
    .expert_nav {
      margin-left: 5rem;
      width: 85%;
    }
    .expert_nav .constant_color{
      margin-left: -3rem;
    }
    .left_br{
      border-left: 1px solid white;
      padding-left: 3rem;
    }
    .expert .exp_p{
      margin: 1rem 2.7rem 0 5.1rem;
    }
    .expert .white_car{
      margin-left: -5rem;
    }
    .expert .btn_white{
      left: 42%;
      width: 13rem;
      font-size: 29px;
    }

    .black_img{
      margin-top: -45rem;
    }
    .black_img div{
      margin-left: -3rem;
    }
    .black_img img{
      width: 28rem;
      height: 20rem;
    }
    .black_img h1{
      font-size: 65px;
    }
    .black_img h2{
      font-size: 38px;
    }
    .black_img p{
      font-size: 28px;
      margin-bottom: 1rem;
    }
    .amazing{
      padding-left: 1.5rem;
    }
    hr{
      width: 92%;
      margin: 1.5rem 0 1.5rem  7%;
    }
    .amazing ul li{
      line-height: 1.5;
      font-size: 29px;
    }
    .amazing h2{
      font-size: 33px;
    }
    
    .mahindra{
      margin: 4rem 0 1rem 5rem;
    }
    .mahindra h1{
      font-size: 90px;
    }
    .mahindra h2{
      font-size: 85px;
      margin-bottom: 2rem;
    }
    .mahindra .filter p, .view_more button{
      font-size: 29px;
    }
    .mahindra .filter button{
      font-size: 29px;
    }
    .maps{
      margin: 5rem 3.5rem;
    }
    .map{
     padding: 1rem;
     margin: 0 0.6rem;
    }
    .map p{
      font-size: 26px;
    }
    .map .add{
      font-size: 20px;
    }
    .view_more button{
      margin-left: 40%;
    }

    .red{
      padding: 10rem 0;
    }
    .red img{
      width: 25rem;
      height: 20rem;
    }
    .red_car{
      margin-left: 4.8rem;
    }
    .red_car h1{
      font-size: 60px;
    }
    .red_car h2 {
    font-size: 55px;
    }
    .red .pouse{
      display: inline-block;
    }
    .red .pouse img {
      margin:  2rem 2rem;
      width: 18rem;
      height: 15rem;
    }
    .red .pouse p {
      font-size: 25px;
    }
    .news img {
      margin: 2rem 4.5rem;
    }
  
}

@media (min-width: 321px) and (max-width: 768px){
  .main-part{
    width: 92rem;
  }
  .home h1{
    font-size: 19rem;
  }
  .home img{
    margin-top: -12rem;
    margin-left: -3%;
  }
  .home p {
    margin-left: 24%;
    font-size: 33px;
    margin-top: -45rem;
    }
    nav ul li {
      margin: 1rem 0 0 2.5rem;
      padding: 0 0.5rem;
      font-size: 2rem;
    }

    .car-info{
      margin: 2rem 0 1rem 7%;
    }
    .info h1{
      font-size: 70px;
    }
    .info h2{
      font-size: 42px;
    }
    .info p{
      font-size: 31px;
    }
    .icon{
      font-size: 24px;
    }
    .car_part div{
      margin: 0;
      padding: 1rem 1rem;
    }
    .car_part div img, p{
      font-size: 27px;
    }
    
    .theory p{
      margin-left: -34rem;
      margin-top: -45rem;
      font-size: 27px;
      width: 45rem;
    }
    .theory img{
      width: 75rem;
      height: 80rem;
      margin-top: 4rem;
    }
    .theory .btn{
      margin: -21rem 0rem 0 -17rem;
      font-size: 25px;
    }
    .back_img{
      top: -45rem;
      left: 7.5rem;
    }
    .back_img .back_info h1{
      margin: 9rem 0 0.7rem 0;
      font-size: 77px;
    }
    .back_img .back_info p{
      font-size: 27px;
    }
    .back_img img {
      margin-top: 8rem;
    }
    .navbar{
      top: -35rem;
      left: 0.4rem;
    }
    .car_detail{
      width: 60.8rem;
      font-size: 30px;
    }
    .car_detail .price{
    padding-left: 21rem;
    }
    .car_detail .varient{
    padding-left: 1.5rem;
    }
    .price_info{
      width: 65rem;
    }
    .price_info h2{
      font-size: 32px;
    }
    .price_info p{
      font-size: 27px;
    }
    .price_info .price_col{
      font-size: 22px;
    }
    .p_info{
      margin: 0 0rem;
    }
    .btns{
      font-size: 28px;
      width: 11rem;
    }
    .btn_viewMore{
      font-size: 30px;
      text-align: start;
      margin-left: 63%;
    }

    .table{
      top: -30rem;
      left: 4.8rem;
    }
    .table table{
      width: 85%;
    }
    .table h1{
      font-size: 75px;
    }
    .table p {
      font-size: 30px;
      line-height: 35px;
      margin: 1.5rem 0 2.2rem 0;
    }
    table tbody td{
      font-size: 28px;
      padding: 7px 1rem;
      text-align: center;
    }
    table thead th{
      font-size: 31px;
    }

    .expert{
      top: -31rem;
    }
    .expert_car{
      padding: 0rem 0 0 4.5rem;
    }
    .expert .first {
      font-size: 65px;
      margin-left:  0.1rem;
    }
    .expert_car img{
      width: 35rem;
      height: 35rem;
    }
    .expert .expert_car h1{
      font-size: 80px;
      margin-bottom: 1.9rem;
    }
    .expert p{
      font-size: 30px;
      line-height: 1.3;
    }
    .expert_nav {
      margin-left: 4.5rem;
      width: 79%;
    }
    .expert_nav .constant_color{
      margin-left: -3rem;
    }
    .left_br{
      padding-left: 7rem;
    }
    .expert .exp_p{
      margin: 1rem 4rem 0 4.5rem;
    }
    .expert .white_car{
      margin-left: 2rem;
    }
    .expert .btn_white{
      left: 41%;
      width: 13rem;
      font-size: 29px;
    }

    .black_img{
      margin-top: -57rem;
    }
    .black_img div{
      margin-left: -4rem;
    }
    .black_img img{
      width: 35rem;
      height: 28rem;
    }
    .black_img h1{
      font-size: 85px;
    }
    .black_img h2{
      font-size: 40px;
    }
    .black_img p{
      font-size: 30px;
      padding-left: 2rem;
    }
    .amazing{
      padding-left: 1.5rem;
    }
    hr{
      width: 92%;
      margin: 1rem 0 1.5rem  6%;
    }
    .amazing ul li{
      line-height: 1.5;
      font-size: 29px;
    }
    .amazing h2{
      font-size: 35px;
      width: 34rem;
    }
    
    .mahindra{
      margin: 6rem 0 1rem 4.5rem;
    }
    .mahindra h1{
      font-size: 92px;
    }
    .mahindra h2{
      font-size: 85px;
      margin-bottom: 2rem;
    }
    .mahindra .filter p, .view_more button{
      font-size: 29px;
    }
    .mahindra .filter button{
      font-size: 29px;
    }
    .maps{
      margin: 5rem 3.5rem;
    }
    .map{
     padding: 1rem;
     margin: 0 0.6rem;
    }
    .map p{
      font-size: 26px;
    }
    .map .add{
      font-size: 20px;
    }
    .view_more button{
      margin-left: 43%; 
    }

    .red{
      padding: 15rem 0;
      margin-left: -2rem;
    }
    .red img{
      width: 40rem;
      height: 30rem;
    }
    .red_car h1{
      font-size: 70px;
    }
    .red_car h2 {
    font-size: 62px;
    }
    .red .pouse{
      display: flex;
    }
    .red .pouse img {
      width: 18rem;
      height: 15rem;
    }
    .red .pouse p {
      font-size: 25px;
    }
    .news img {
      margin: -7rem 2.5rem 5rem 2.5rem;
    }
  
}
